.flexPair {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    gap             : 1rem;
}

.password {
    font-size     : var(--fs-l);
    text-overflow : ellipsis;
    word-break    : break-all;
}

.copyBtn {
    background : none;
    border     : none;
    padding    : 0;

    &>svg {
        max-height : 1.25rem;
        display    : block;

        @media only screen and (min-width : 37.5rem) {
            max-height : 1.5rem;
        }
    }
}

.copied {
    text-transform : uppercase;
    font-size      : var(--fs-s);
    color          : var(--clr-accent-green);
}